

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none ;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: sans-serif;
}

:root{
    --min-color: #fff;
    --sc-color: #3ec1d5;
    --th-color: #333;

}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}

header{
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: grey;
    z-index: 1001;

}

header .logo{
    font-size: 2.7rem;
    color: white;
    font-weight: bold;
    padding: 0.4rem;

}

header .navbar a{
   margin: 0 0.8rem; 
   font-size: 1.5rem;
   color: var(--min-color);
   padding: 0.4rem;

}

header .navbar a:hover,
header .barsIcon:hover{
    color: blue;
}

header .barsIcon{
    
    cursor: pointer;

}










