

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none ;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: sans-serif;
}

:root{
    --min-color: #fff;
    --sc-color: #3ec1d5;
    --th-color: #333;

}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}

header{
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: grey;
    z-index: 1001;

}

header .logo{
    font-size: 2.7rem;
    color: white;
    font-weight: bold;
    padding: 0.4rem;

}

header .navbar a{
   margin: 0 0.8rem; 
   font-size: 1.5rem;
   color: var(--min-color);
   padding: 0.4rem;

}

header .navbar a:hover,
header .fa-bars:hover{
    color: blue
}


header .fa-bars {
    font-size: 2.2rem;
    color: var(--min-color);
    cursor: pointer;
    display: none;
}















/* media query */
@media(max-width:850px){
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: fixed;
        /* top: 10rem;*/ top: 1000rem ;left: 0; 
        text-align: center;
        background: rgba(10, 10, 9, 0.6);
        width: 100%;

    }

    header .navbar a{
        display: block;
        margin: 0.3rem 0;
        padding: 1rem;
        font-size: 2rem;
        color: var(--min-color);

    }

    header .navbar a:hover{
        background: var(--min-color);
    }
}
